:root {
  --primary-color: #000000;
  --font-size-medium: 16px;
  --card-color: #e1f0ffe8;
  --body-background: #f9f9f9;
  --font-color: #000000;
  --hover: #383838;
}

body{
    margin: 0;
    color: rgb(44, 41, 44);
    background-color: var( --body-background);
}

header{
    background-color: var(--primary-color);
    padding: 2rem 5%;
    color: white;
    text-align: center;
}

.main-title, 
.name, 
.sign{
    margin-top: 0;
}

main{
    display: flex;
    width: 100%;
    min-height: 500px;
    flex-direction: row;
    align-items: center;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: var(--font-color);
}

.btn:hover {
background-color: var(--hover);
border-color: var(--hover);
}

.btn-alt:hover{
    background-color: var(--hover);
    color: white;  
    border-color: transparent;
}
