:root {
  --primary-color: #000000;
  --font-size-medium: 16px;
  --card-color: #e1f0ffe8;
  --body-background: #f9f9f9;
  --font-color: #000000;
  --hover: #383838;
}

body{
    margin: 0;
    color: rgb(44, 41, 44);
    background-color: var( --body-background);
}

header{
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-game{
    font-size: 1.3rem;
    margin:0;    
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.name, 
.sign{
    margin-top: 0;
}

main{
    display: flex;
    width: 100%;
    min-height: 500px;
    flex-direction: row;
    align-items: center;
    margin-top: 1.4rem;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: var(--font-color);
}

.btn:hover {
background-color: var(--hover);
border-color: var(--hover);
}

.btn-alt:hover{
    background-color: var(--hover);
    color: white;  
    border-color: transparent;
}

.main-title{
    text-align: start;
    margin: 1.6rem 0 0.5rem 0;
}

 .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 35px;
    margin-left: 2em;
  }

  .logo-txt {
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    color: var(--heading-color);
  }

  .logo-txt h1,
  .logo-txt span {
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 4px;
    text-align: start;
  }

  .logo-txt h1 {
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: 2px;
  }

  .logo-txt span {
    font-weight: lighter;
    font-size: 0.85rem;
  }